{% extends "security/base.html" %} {% from "security/_macros.html" import
render_field_with_errors, render_field, render_form_errors %} {% block content
%} {% with messages = get_flashed_messages(with_categories=true) %} {% if
messages %}
<div class="container mt-3">
  {% for category, message in messages %}
  <div
    class="alert alert-{{ category }} alert-dismissible fade show d-flex justify-content-between"
    role="alert"
  >
    {{ message }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {% endfor %}
</div>
{% endif %} {% endwith %}

<h1>{{ _fsdomain('Change password') }}</h1>
<form
  action="{{ url_for_security('change_password') }}"
  method="post"
  name="change_password_form"
>
  {{ change_password_form.hidden_tag() }} {{
  render_form_errors(change_password_form) }} {% if active_password %} {{
  render_field_with_errors(change_password_form.password, class='form-control')
  }} {% else %}
  <h3>
    {{ _fsdomain('You do not currently have a password - this will add one.') }}
  </h3>
  {% endif %} {{ render_field_with_errors(change_password_form.new_password,
  class='form-control') }} {{
  render_field_with_errors(change_password_form.new_password_confirm,
  class='form-control') }} {{ render_field(change_password_form.submit,
  class='btn btn-primary') }}
</form>
<a href="{{ url_for('security.login')}}" class="btn btn-secondary mt-4">Back</a>

{% endblock content %}
