{% extends "security/base.html" %} {% from "security/_macros.html" import
render_field_with_errors, render_field %} {% block content %} {% with messages =
get_flashed_messages(with_categories=true) %} {% if messages %}
<div class="container mt-3">
  {% for category, message in messages %}
  <div
    class="alert alert-{{ category }} alert-dismissible fade show d-flex justify-content-between"
    role="alert"
  >
    {{ message }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {% endfor %}
</div>
{% endif %} {% endwith %}
<h1>{{ _fsdomain('Resend confirmation instructions') }}</h1>
<form
  action="{{ url_for_security('send_confirmation') }}"
  method="post"
  name="send_confirmation_form"
>
  {{ send_confirmation_form.hidden_tag() }} {{
  render_field_with_errors(send_confirmation_form.email,class='form-control') }}
  {{ render_field(send_confirmation_form.submit, class='btn btn-primary') }}
</form>
<a href="{{ url_for('security/login')}}" class="btn btn-secondary mt-4">Back</a>

{% endblock content %}
